@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@Html.Sitecore().Placeholder("section")
<div class="footer-bottom text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <h2>Here you GO CI CD</h2>
				@Html.Sitecore().Placeholder("postfooter")
			</div>
		</div>
	</div>
</div>